{% extends "base.html" %}

{% block content %}

<section class="container text-center py-5">

<h1 class="display-3 fw-bold">

🛡 AI Phishing Detection System

</h1>

<p class="lead mt-4">

Protect yourself from phishing websites and malicious emails using Artificial Intelligence.

</p>

<br>

<a href="/analyze_url" class="btn btn-primary btn-lg me-3">

Analyze URL

</a>

<a href="/email_analyzer" class="btn btn-success btn-lg">

Analyze Email

</a>

</section>

<section class="container py-5">

<div class="row">

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h3>🌐 URL Analysis</h3>

<p>

Detect phishing websites using AI.

</p>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h3>📧 Email Detection</h3>

<p>

Analyze suspicious emails instantly.

</p>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body">

<h3>🤖 Machine Learning</h3>

<p>

Real AI model for phishing prediction.

</p>

</div>

</div>

</div>

</div>

</section>

{% endblock %}